@charset "EUC-KR";

a:link, a:visited, a:active {
	text-decoration: none;
}
a:hover {
	test-decoration: underline;
	color: red;
}
TABLE, TD, TR, TH {
	font-size: 9pt;
}
p {
	font-size: 9pt;
}
